.loading {
  position: absolute; right: 0px; top: 0px; 
  background-color: red; color: white; 
  margin: 5px; padding: 5px;
  font-size: 12px;
  font-weight: bold;
}

.msg-success {
	background: #2c9f42;
	padding: 10px;
	color: #fff;
	width: 48.5%;
	-webkit-animation: fadeIn 1s;
    -moz-animation: fadeIn 1s;
    -ms-animation: fadeIn 1s;
    animation: fadeIn 1s;
}

@-webkit-keyframes fadeIn {
  0% {opacity: 0;}
  100% {opacity: 1;}
}

@keyframes fadeIn {
  0% {opacity: 0;}
  100% {opacity: 1;}
}

.fadeIn {
  -webkit-animation-name: fadeIn;
          animation-name: fadeIn;
}